body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
  }
  .user{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 15px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    &__account{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-right: 30px;
        p{
            font-weight: 800;
            color: rgb(0, 0, 0);
        }
        p:hover{
            cursor: pointer;
        }
        i{
            color: rgb(255, 250, 250);
            border-radius: 15px;
            font-size: 30px;
            background-color: rgb(185,0,0);
            
        }
    }
    &__cart{
        font-size: 30px;
        color: rgb(0, 0, 0);
        margin-left: 10px;
    }
    
  }
  .navbar{
    background-color: rgb(252,252,252);
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    position: relative;
    &__logo{
        font-size: 25px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height:  30px;
        align-items: center;
        margin-left: 30px;
        letter-spacing: 3px;
    }
    // &__navigation{
        ul{
            display: flex;
            // flex-direction: column;
            column-gap: 20px;
            margin-right: 30px;
        }
        li{
            list-style: none;
  
        }
        .nav-links a{
            text-decoration: none;
            font-weight: 800;
            letter-spacing: 3px;
            color: black;
            padding: 10px;
        }a.active, a:hover{
            background-color: rgb(185, 0, 0);
            color: white;}
        .burger div{
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 3px;
            border-radius: 2px;
        }
        .burger{
            display: none;
        }
        .burgerX{
            display: none;
        }
    // }
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // justify-content: center;
    width: 100%;
    background-color: rgb(242,239,239);
  
  }
  .footer div{
    width: 32.333337%;
    display: flex;
    flex-direction: column;
  }
  // mobile
  @media screen and (max-width: 700px){
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .nav-links{
        margin: 0;
        padding: 0;
        position: absolute;
        right: 30px;
        height: 300px;
        width: 200px;
        top: 30px;
        background-color: rgb(252,252,252);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .hide_burger{
        display: none;
    }
    .hide_burgerX{
        display: flex;
        margin-right: 30px;
        font-size: 50px;
    }
    .hide_nav{
        display: none;
    }
    .nav-links li{
        margin: 20px;
    }
    .burger{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 30px;
        background-color: rgb(252,252,252);
        
    }
    
    }
  
  }